<!DOCTYPE html>
html
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        link(rel="stylesheet", href="css/style.css")
        link(rel="shortcut icon" href="img/icon/favicon.ico" type="image/x-icon")
        script(src="js/script.js")
        script(src="js/animate.js")
        script(type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.10.1/jquery.min.js")
        link(href="https://fonts.googleapis.com/css2?family=Domine:wght@400;700&family=Open+Sans:ital,wght@0,300;0,400;0,600;0,700;0,800;1,300;1,400;1,600;1,700;1,800&display=swap" rel="stylesheet")
        title Skills
    body
        .wallpaper-1
            .wallpaper_container
        .wallpaper-2
            .wallpaper_container
        .wallpaper-3
            .wallpaper_container
        .wallpaper-4
            .wallpaper_container
        .main-page
            .main-page_container
                .container-small
                    header
                        .top-logo-container
                            .yellow-back_logo
                        nav
                            ul
                                li 
                                    a(href="#") Наши работы
                                li 
                                    a(href="#") О нас
                                li 
                                    a(href="#") Контакты
                    .main-title
                        h1 “Et aliquip nostrud commodo proident veniam enim”
                        .main-title-social Следите за нами!
                            img(src="img/icon/line.png", alt="")
                            a(href="")
                                img(src="img/icon/telegram.png", alt="")
                            a(href="")
                                img(src="img/icon/whatsup.png", alt="")
                            a(href="")
                                img(src="img/icon/instagram.png", alt="")
                            a(href="")
                                img(src="img/icon/facebook.png", alt="")
                            a(href="")
                                img(src="img/icon/vk.png", alt="")

                    .button_container
                        a.first-slide(onmouseenter="Hover(1)" onmouseleave="OutHover(1)" href="#")
                            div.1-round(style="border: 10px solid #FAB807")
                        a.second-slide(onmouseenter="Hover(2)" onmouseleave="OutHover(2)" onclick="OtherButton(2)" href="#")
                            div.2-round
                        a.third-slide(onmouseenter="Hover(3)" onmouseleave="OutHover(3)" onclick="OtherButton(3)" href="#")
                            div.3-round
                        a.fourth-slide(onmouseenter="Hover(4)" onmouseleave="OutHover(4)" onclick="OtherButton(4)" href="#")
                            div.4-round
        .learn-more_block
            .container-small
                .learn-more_text
                    h1 Ex ipsum do eu culpa aliquip
                    h2 Non sint veniam non officia cupidatat.
                    p Ex ipsum do eu culpa aliquip proident esse eiusmod. Adipisicing ullamco esse ad consectetur ullamco commodo ullamco elit cillum laborum eu magna. Tempor nulla eiusmod id do. Est ex proident ex ipsum fugiat non. Ullamco commodo ut quis sit sunt aliqua in exercitation ullamco laborum est sit. Magna cillum incididunt enim laborum amet consectetur quis ullamco in.
                    a.learm-more_button(href="#") Узнать подробнее
                img.learn-more_img(src="img/Bart.png")