<!DOCTYPE html>
html
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        link(rel="stylesheet", href="css/style.css")
        script(src="js/script.js")
        script(src="js/animate.js")
        script(type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.10.1/jquery.min.js")
        link(href="https://fonts.googleapis.com/css2?family=Domine:wght@400;700&family=Open+Sans:ital,wght@0,300;0,400;0,600;0,700;0,800;1,300;1,400;1,600;1,700;1,800&display=swap" rel="stylesheet")
        title Skills
    body
        .main-page
            .main-page_container
                .container-small
                    header
                        img.top-logo-container(src="img/skills_logo.png")
                        nav
                            ul
                                li 
                                    a(href="#") Наши работы
                                li 
                                    a(href="#") О нас
                                li 
                                    a(href="#") Контакты
                    .main-title
                        h1 “Et aliquip nostrud commodo proident veniam enim”
                        .main-title-social Следите за нами!
                            img(src="img/icon/line.png", alt="")
                            a(href="")
                                img(src="img/icon/telegram.png", alt="")
                            a(href="")
                                img(src="img/icon/whatsup.png", alt="")
                            a(href="")
                                img(src="img/icon/instagram.png", alt="")
                            a(href="")
                                img(src="img/icon/facebook.png", alt="")
                            a(href="")
                                img(src="img/icon/vk.png", alt="")

                    .button_container
                        a.first-slide(onmouseenter="Hover(1)" onmouseleave="OutHover(1)" href="#")
                            div.1-round
                        a.second-slide(onmouseenter="Hover(2)" onmouseleave="OutHover(2)" onclick="SecondButton()" href="#")
                            div.2-round
                        a.third-slide(onmouseenter="Hover(3)" onmouseleave="OutHover(3)" onclick="ThirdButton()" href="#")
                            div.3-round
                        a.fourth-slide(onmouseenter="Hover(4)" onmouseleave="OutHover(4)" onclick="FourthButton()" href="#")
                            div.4-round
        .second